/* ------------------------------- Coloque sua estilização aqui ------------------------------- */

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


body{
    background-color: var(--cor-grey-0);
}


#header{
    justify-content: space-between;

    background-color: var(--cor-grey-0);

    height: 80px;
    border-bottom: 3px solid var(--cor-secundaria);

    position: fixed;
    width: 100vw;
    z-index: 1;
}


#main{
    flex-direction: column;

    background-color: var(--cor-grey-1);

    position: relative;
    z-index: 0;
    top: 80px;
}